@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Effra', sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    min-width: 100%;
    minheight: 100vh;
    padding: 2em;
    background: url(/images/Bg-hero.png);
    background-position: center;
    flex-direction: column;
}

.navbar {
    display: flex;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.logo {
    display: flex;
}

.logo-text {
    display: flex;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    padding-left: 14px;
}

.menu li a {
    margin: 0.5em;
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 400;

}

.menu li a:hover {
    color: #A8FF35;
}

.login,
.login-box {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    line-height: 100%;
    /* 18px */
}

.register-button {
    color: #000;
    font-size: 18px;
    border-radius: 40px;
    background: #FFF;
    padding: 12px 32px;
}

.name-content {
    color: #FFF;
    text-align: center;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 112%;
    margin-top: 1.9rem;
}

.job-content {
    color: #FFF;
    text-align: center;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 112%;
    /* 80.64px */
    margin-bottom: 25px;

}

.text-content {
    color: #8B8B8B;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    flex-shrink: 0;
    /* 27px */
}

.big-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-button {
    display: flex;
    flex-direction: column;
}

.button-big {
    margin-top: 2.5rem;
    padding: 1rem 2rem;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    border-radius: 40px;
    background: #A8FF35;
}

.ro-text {
    display: inline-block;
    color: #FFF;
    font-style: italic;
    transform: translate(165px, -103px); rotate: 6deg;
    
}

.Arrow {
    transform: translate(150px, -86px);
}

.cards { 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card {
    display: flex;
    width: 21.2rem;
    flex-shrink: 0; 
    background-color: #181818;
    justify-content: space-around;
    align-items: center;
    /* margin: 10px; */
}

.social-card {
    width: 30px;
    height: 30px;
    flex-shrink: 1;
    margin: 10px;
}

.gr-x {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    flex-shrink: 0;
    text-decoration: none;
    color: #FFFfff;

}

i {
    display: flex;
    align-items: center;
    width: 15px;
    transform: rotate(2deg);
}

 .rotate-twitter {
    transform: rotate(358deg) translate(157px, -52px);
    z-index: 3;
    box-shadow: 10px 5px 5px black;
}

.rotate-pient {
    transform: rotate(2deg) translate(10px, 10px);
    box-shadow: 10px 5px 5px black;
    z-index: 2;
}

.rotate-facebook{
    transform: rotate(-2deg);
    z-index: 1;
    box-shadow: 10px 5px 5px black;
    transform: translate(-60px, -52px);
}

.rotate-ball {
    transform: rotate(356deg) translate(-143px, 10px);
    z-index: 0;
    box-shadow: 10px 5px 5px black;
}

.social-text {
    color: #FFFfff;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
} 

@media only screen and (max-width: 848px) {
    .container{
        padding: 0;
    }
    .menu {
        display: none;
        margin: 1rem;
    }

    .name-content,
    .job-content {
        font-size: 3.4rem;
    }


    .navbar {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 650px) {

    .name-content,
    .job-content {
        font-size: 2.9rem;
    }
}
@media only screen and (max-width: 560px) {

    .name-content,
    .job-content {
        font-size: 2rem;
    }
    .text-content {
       font-size: 0.9rem; 
    }
    .login,
    .register-button{
        display: none;
    }
    .cards {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    .rotate-twitter{
        transform: rotate(2deg) translate(0px,  60px);
    }
    .rotate-pient{
        transform: rotate(0) translate(0px, 60px);
    }
    .rotate-facebook{
        transform: rotate(-2deg) translate(0px, 60px);
    }
    .rotate-ball{
        transform: rotate(0) translate(0px,  60px);
    }
    .ro-text,
    .Arrow  {
        display: none;
    }
}